.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    border: 1px solid grey;
    font-size: 1rem;
    border-radius: 0.5rem; 
    padding: 2.5rem;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}

p {
    line-height: 0;
}

.Heading {
    text-align: center;
}